/***************
    NAV BAR
***************/

#navbarNav{
    justify-content: end;
}

.logo{
    height: 3.5rem;
}

.navbar-item a{
    color: black;
    transition: 0.4s ease-in-out;
}

.navbar-item a:hover{
    color: #d1ac82;
}

.active{
    text-decoration: underline;
}